tr.flecsimo_table_row_fixed_height {
    height: 40px;
    min-height: 40px;
}

pre.flecsimo-log {
    max-height: 250px;
    width: 100%;

    white-space: pre-wrap; 
    word-wrap: break-word;
}
pre.flecsimo-log span {
    display: block;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    color: var(--bs-light)
}

pre.flecsimo-log span:nth-of-type(2n) {
    background-color: var(--bs-gray-dark);
}

pre.flecsimo-log span:nth-of-type(2n+1) {
    background-color: var(--bs-gray);
}

.flecsimo-design-arrow{
    position: relative;
    height: auto;
    z-index: 0;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-bottom: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flecsimo-design-arrow:after, .flecsimo-design-arrow:before {
    content: "";
    position: absolute;
    bottom: -15%;
    border-top: 15px solid;
    border-top-color: #e9ecef/*var(--bs-light)*/;
    width: 45%;
    z-index: -1;
}

.flecsimo-design-arrow:after{
    left: 50%;
    transform: rotate(calc(180deg + 13deg));
    transform-origin: 0% 0%;
    z-index: -1;
}

.flecsimo-design-arrow:before{
    right: 50%;
    transform: rotate(calc(180deg - 13deg));
    transform-origin: 100% 0%;
    z-index: -1;
}

.flecsimo-design-arrow *{
    z-index: 1;
}

.flecsimo-design-arrow-rotate {
    transform: rotate(180deg);
}

.flecsimo-design-arrow-rotate * {
    transform: rotate(-180deg);
}

span.flecsimo-status-btn {
    cursor: default;
    border-radius: 0;
    border-top: 0.5px solid;
    border-bottom: 0.5px solid;
    border-top-color: var(--bs-light);
    border-bottom-color: var(--bs-light);
}

.flecsimo-status-group span {
	width: 30px;
	overflow: visible;
	color: black;
	display: block;
	vertical-align: middle;
}

.flecsimo-status-group span span {
	padding: 0;
	margin: 0;
	margin-left: 28px;
	overflow: visible;
}