{% set card_name = conf["area"] %}
<div class="card mb-2 flecsimo-area flecsimo-process" flecsimoName="{{ card_id }}">
    <div class="card-header d-flex justify-content-between">
        <h5 class="card-title mb-1 mt-1">
            <span class="badge bg-primary">Area</span>
            {{ card_name }}
            </h5>
        </h5>
    </div>
    <div class="card-body">
        <div class="col-md-10 offset-md-1 col-sm-12 offset-sm-0">
            <div class="d-flex justify-content-center flex-wrap">
            <button type="button" class="col-5 btn btn-success">reset</button>
            </div>
        </div>

        <hr />
        <h6><b>Log</b></h6>
        <div class="mt-2 border">
            <pre class="flecsimo-log text-monospace overflow-auto">
            </pre>
        </div>
    </div>
</div>