{% set card_name = conf["station"] %}
<div class="card mb-2 flecsimo-cell flecsimo-process" flecsimoName="{{ card_id }}">
    <div class="card-header d-flex justify-content-between">
        <h5 class="card-title mb-1 mt-1">
            <span class="badge bg-info">Cell</span>
            {{ card_name }}
        </h5>
        <div class="btn-group" role="group">
            <button
                type="button"
                class="btn btn-sm btn-primary flecsimo-cell-shutdown"
                onclick="dashboard_cell_shutdown('{{ card_id }}')">
                shutdown
            </button>
            <button
                type="button"
                class="btn btn-sm btn-success flecsimo-cell-activate"
                onclick="dashboard_cell_activate('{{ card_id }}')">
                activate
            </button>
            <button
                    type="button"
                    class="btn btn-sm btn-secondary flecsimo-cell-shutdown disabled"
                    disabled
                    onclick="">
                rework
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-3 flecsimo-status-group d-flex flex-column" role="group">
                <!-- adding an underscore to flecsimo-names toggles the "flashing"-mode. -->
                <span
                    class="badge bg-secondary flecsimo-status-btn fst-italic fw-normal"
                    flecsimo-color="danger" flecsimo-names="HALTED_" flecsimo-inactive-text="">
                    <span>&nbsp;</span>
                </span>
                <span
                    class="badge bg-secondary flecsimo-status-btn fst-italic fw-normal"
                    flecsimo-color="warning_" flecsimo-names="SETUP" flecsimo-inactive-text="">
                    <span>&nbsp;</span>
                </span>
                <span
                    class="badge bg-secondary flecsimo-status-btn fst-italic fw-normal"
                    flecsimo-color="success_" flecsimo-names="ACTIVE;STANDBY_;DONE" flecsimo-inactive-text="">
                    <span>&nbsp;</span>
                </span>
                <span
                    class="badge bg-secondary flecsimo-status-btn fst-italic fw-normal"
                    flecsimo-color="primary_" flecsimo-names="STOPPED" flecsimo-inactive-text="">
                    <span>&nbsp;</span>
                </span>
            </div>
        </div>

        <hr />
        <div class="row">
            <label class="col-sm-4 col-form-label flecsimo-cell-sfcu-select-box-countbadge">
                availiable SFCUs
                <span class="badge bg-secondary" style="display: none"></span>
            </label>
            <div class="col-sm-8 form-group">
                <select
                    class="form-control"
                    id="flecsimo-cell-{{card_id}}-sfcu-box"
                    placeholder="SFCU"
                    aria-label="SFCU">
                    <option value="">
                        choose…
                    </option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="hidden-xs col-sm-4"></div>
            <div class="col-6 col-sm-4 flecsimo-design-arrow">
                <button
                    type="button"
                    class="btn btn-success mx-auto flecsimo-cell-load-btn"
                    onclick="dashboard_cell_load_sfcu('{{ card_id }}')">
                    load (and start)
                </button>
            </div>
            <div class="col-6 col-sm-4 flecsimo-design-arrow flecsimo-design-arrow-rotate">
                <button
                    type="button"
                    class="btn btn-warning flecsimo-cell-unload-btn"
                    onclick="dashboard_cell_unload_sfcu('{{ card_id }}')">
                    unload
                </button>
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-sm-4 col-form-label">loaded SFCU</label>
            <div class="col-sm-8">
                <input
                    type="text"
                    id="flecsimo-cell-{{card_id}}-sfcu-status-box"
                    class="form-control m-0 flecsimo-cell-sfcu-pos"
                    disabled readonly
                    value="">
                </input>
            </div>
        </div>

        <div class="flecsimo-cell-task-progressbox">
            <div class="row mb flecsimo-cell-task-progress-placeholder">
                <label class="col-sm-4 col-form-label pt-0 pb-0">current operation</label>
                <div class="col-sm-8">
                    <div class="progress align-middle" height="100%">
                        <div
                            class="progress-bar bg-secondary"
                            role="progressbar" style="width: 100%">
                            none
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--
        <hr />
        <h6><b>Log</b></h6>
        <div class="mt-2 border">
            <pre class="flecsimo-log text-monospace overflow-auto">
            </pre>
        </div>
        -->
    </div>
</div>