{% set card_name = conf["site"] %}
<div class="card mb-2 flecsimo-site flecsimo-process" flecsimoName="{{card_id}}">
    <div class="card-header d-flex justify-content-between">
        <h5 class="card-title mb-1 mt-1">
            <span class="badge bg-secondary">Site</span>
            {{card_name}}
        </h5>
    </div>
    <div class="card-body">
        <div class="col-md-10 offset-md-1 col-sm-12 offset-0">
            <div class="d-flex justify-content-between flex-wrap">
                <button
                    type="button"
                    class="col-12 col-sm-5 mb-1 mb-sm-0 btn btn-success"
                    onclick="dashboard_site_new_order('{{card_id}}', '{{card_name}}')"
                    >
                    new order
                </button>
    <!--            <button type="button" class="col-12 col-sm-5 btn btn-primary disabled">show orders-->
    <!--            </button>-->
                <div></div>
            </div>
        </div>
        <hr />
        <div class="flecsimo-tab-block">
            <ul class="nav nav-tabs" id="flecsimo-site-{{card_id}}-tabbingbox" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="flecsimo-site-{{card_id}}-tabbing-order-list-tab" data-bs-toggle="tab" data-bs-target="#flecsimo-site-{{card_id}}-tabbing-order-list" type="button" role="tab" aria-controls="home" aria-selected="true">order list</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="flecsimo-site-{{card_id}}-tabbing-schedule-list-tab" data-bs-toggle="tab" data-bs-target="#flecsimo-site-{{card_id}}-tabbing-schedule-list" type="button" role="tab" aria-controls="profile" aria-selected="false">schedule list</button>
            </li>
            </ul>
            <div class="tab-content" id="flecsimo-site-{{card_id}}-tabbingcontent">
                <div class="tab-pane fade show active flecsimo-tab-section" role="tabpanel" id="flecsimo-site-{{card_id}}-tabbing-order-list">
                    <div style="max-height: 300px; overflow-y: auto;" class="mb-2 border-top-0">
                    <table class="table table-sm table-striped flecsimo-site-order-list">
                        <div class="flecsimo-spinner spinner-border text-secondary m-5"></div>
                        <thead>
                            <tr>
                                <td>ID</td>
                                <td>status</td>
                                <td>variant</td>
                                <td>count</td>
                                <td>actions</td>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    </div>
                    <div class="d-flex flex-wrap justify-content-between mt-1 border-0 px-3">
                        <!--
                        <span class="flecsimo_status rounded-pill badge bg-secondary">initial</span>
                        <span class="flecsimo_status rounded-pill badge bg-info">checked</span>
                        <span class="flecsimo_status rounded-pill badge bg-info">planned</span>
                        <span class="flecsimo_status rounded-pill badge bg-primary">released</span>
                        <span class="flecsimo_status rounded-pill badge bg-primary">confirmed</span>
                        <span class="flecsimo_status rounded-pill badge bg-warning">wip</span>
                        <span class="flecsimo_status rounded-pill badge bg-success">done</span>
                        <span class="flecsimo_status rounded-pill badge bg-danger">cancelled</span>
                        <span class="flecsimo_status rounded-pill badge bg-danger">failed</span>
                        -->
                    </div>
                </div>
                <div class="tab-pane fade flecsimo-tab-section" role="tabpanel" id="flecsimo-site-{{card_id}}-tabbing-schedule-list">
                    <div style="max-height: 300px; overflow-y: auto;" class="mb-2 border-top-0">
                        <div class="flecsimo-spinner spinner-border text-secondary m-5"></div>
                        <table class="table table-sm table-striped flecsimo-site-schedule-list">
                            <thead>
                                <tr>
                                    <td>ID</td>
                                    <td>Order</td>
                                    <td>SFCU</td>
                                    <td>Operation</td>
                                    <td>Supplier</td>
                                    <td>Due</td>
                                    <td>Prio</td>
                                    <td>Status</td>
                                    <td>at (date)</td>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="d-flex flex-wrap justify-content-between mt-1 border-0 px-3">
                        <!--
                        <span class="flecsimo_status rounded-pill badge bg-secondary">initial</span>
                        <span class="flecsimo_status rounded-pill badge bg-info">planned</span>
                        <span class="flecsimo_status rounded-pill badge bg-info">requested</span>
                        <span class="flecsimo_status rounded-pill badge bg-info">quoted</span>
                        <span class="flecsimo_status rounded-pill badge bg-primary">assigned</span>
                        <span class="flecsimo_status rounded-pill badge bg-primary">confirmed</span>
                        <span class="flecsimo_status rounded-pill badge bg-warning">wip</span>
                        <span class="flecsimo_status rounded-pill badge bg-success">done</span>
                        <span class="flecsimo_status rounded-pill badge bg-danger">cancelled</span>
                        <span class="flecsimo_status rounded-pill badge bg-danger">rejected</span>
                        <span class="flecsimo_status rounded-pill badge bg-danger">failed</span>
                        -->
                    </div>
                </div>
            </div>
        </div>

        <hr />
        <h6><b>Log</b></h6>
        <div class="mt-2 border">
            <pre class="flecsimo-log text-monospace overflow-auto">
            </pre>
        </div>
    </div>
</div>