<!doctype html>
<html>
<head>
  <title>{% block title %}{% endblock %} · flecsimo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="color-scheme" content="light dark">
  <script>
    if (window.matchMedia("(prefers-color-scheme: dark)").media === "not all") {
      document.documentElement.style.display = "none";
      document.head.insertAdjacentHTML(
        "beforeend",
        "<link rel=\"stylesheet\" href=\"{{baseurl}}{{ url_for('static', filename='bootstrap/css/bootstrap.min.css')}}\" onload=\"document.documentElement.style.display = ''\">"
      );
    }
  </script>
  <link rel="stylesheet" href="{{baseur}}{{url_for('static', filename='bootstrap/bootstrap-night.min.css')}}" media="(prefers-color-scheme: dark)">

  <link rel="stylesheet" href="{{baseurl}}{{ url_for('static', filename='bootstrap/css/bootstrap.min.css')}}" media="(prefers-color-scheme: no-preference), (prefers-color-scheme: light)">


  <link rel="stylesheet" href="{{baseurl}}{{ url_for('static', filename='main.css')}}">
  <link rel="icon" type="image/x-icon" href="{{baseurl}}{{ url_for('static', filename='favicon.png')}}">
  <script src="{{baseurl}}{{ url_for('static', filename='bootstrap/js/bootstrap.js')}}"></script>
  <script src="{{baseurl}}{{ url_for('static', filename='jquery-3.6.0.min.js')}}"></script>
  <script src="{{baseurl}}{{ url_for('static', filename='main.js')}}"></script>
</head>
<body>
  <nav class="navbar navbar-light bg-light navbar-expand-md">
    <div class="container-fluid">
      <div>
        <a class="navbar-brand" style="margin-right: -0.25rem !important;" href="{{baseurl}}">
          flecsimo-twin
        </a>
        <sub>
          <a href="https://gitlab.com/flecsimodev/flecsimo/-/commit/{{git_hash}}">
            <sub class="me-2 badge rounded-pill bg-secondary">
              {{git_hash}}</a>
            </sub>
          </a>
        </sub>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainBarToggle" aria-expanded="false" aria-label="switch menu">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mainBarToggle">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% if 'instructor' in roles %}
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{{baseurl}}view/simulation_setup">Simulation setup</a>
          </li>
          {% endif %}
          {% if 'trainee' in roles %}
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{{baseurl}}view/dashboard">Dashboard</a>
          </li>
          {% endif %}

        </ul>
        <ul class="navbar-nav navbar-right">
          {% if username is defined and username is not none %}
            <li class="nav-item mr-2">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">hi, {{username}}</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-secondary" onclick="logout()">log out</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    {% if message is defined %}
      <br />
      <div class="alert alert-danger" role="alert">
        {{message}}
      </div>
    {% endif %}

    {% block page %}
    {% endblock %}
  </div>
</body>
</html>