{% extends 'base.html' %}

{% block title %}Control Panel{% endblock %}
<!--
  In this template the dashboard-elements are only created but *not* filled with "life".
  This will be accomplished by some javascript-routines periodically calling a specific API-Endpoint.
-->
{% block page %}
<script src="{{baseurl}}{{ url_for('static', filename='dashboard.js')}}"></script>
<h2>Control Panel</h2>
<div id="flecsimo_modal_space"></div>
<div id="flecsimo_toast_space" class="position-fixed bottom-0 end-0 p-3" style="z-index: 11"></div>
{% if units %}
  <div class="row">
    <div class="col-lg-5 order-lg-1
                col-md-6 order-md-1
                col-sm-12">
      {% for unit in units %}
        {% set conf = units[unit]["config"] %}
        {% set card_id = unit|trim('.json') %}
        {% if conf["type"] == "site" %}
          {% include 'dashboard/site.html' %}
        {% endif %}
      {% endfor %}
    </div>
    <div class="col-lg-3 order-lg-2
                col-md-6 order-md-3
                col-sm-12">
      {% for unit in units %}
        {% set conf = units[unit]["config"] %}
        {% set card_id = unit|trim('.json') %}
        {% if conf["type"] == "area" %}
          {% include 'dashboard/area.html' %}
        {% endif %}
      {% endfor %}
    </div>
    <div class="col-lg-4 order-lg-3
                col-md-6 order-md-2
                col-sm-12">
      {% for unit in units %}
        {% set conf = units[unit]["config"] %}
        {% set card_id = unit|trim('.json') %}
        {% if conf["type"] == "cell" %}
          {% include 'dashboard/cell.html' %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% else %}
  <div class="row justify-content-center">
    <div class="col-md-8 col-md-sm-12 mt-5">
      <p>
        no simulation loaded.
        {% if 'trainee' in roles %}
          Please ask your instructor to start a simulation.
        {% endif %}
      </p>
      {% if 'instructor' in roles %}
        <a class="btn btn-primary" href="{{baseurl}}/view/simulation_setup" id="go_to_sim_setup">setup a simulation</a>
      {% endif %}

    </div>
  </div>
{% endif %}


{% endblock %}
