{% extends 'base.html' %}

{% block title %}Error {{ number }}{% endblock %}

{% block page %}
  <div class="row justify-content-center">
    <div class="col-md-8 col-md-sm-12">
      <h2>Error {{ number }} <small>{{ text }}</small></h2>
      <p>{{ detailed }}</p>
      <a class="btn btn-primary" href="{{baseurl}}" id="go_to_startpage">back to main view</a>
    </div>
  </div>
{% endblock %}
