{% extends 'base.html' %}

{% block title %}home{% endblock %}

{% block page %}
  <h2>welcome to flecsimo-twin!</h2>
  <p>See the simulation setup-menu in the menu bar</p>
  <img src="{{baseurl}}{{ url_for('static', filename='background.jpg')}}" class="img-fluid" alt="image of a pyhsical flecsimo-cell"></img>
{% endblock %}
