{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block page %}
  <h2>login</h2>
  <div class="row justify-content-center">
    <div class="col-md-4 col-sm-12">
      <form class="input-group mt-3" id="login-credentials_box" action="login" method="post" name="Login">
        <div class="form-group mt-2">
          <small id="usernameHelpText" class="form-text text-muted">username/user group</small>
          <input type="text" class="form-control" id="username" name="username" placeholder="instructor" aria-describedby="usernameHelpText"></input>

          <small id="passwordHelpText" class="form-text text-muted">password</small>
          <input type="password" class="form-control" id="password" name="password" placeholder="•••••••••" aria-describedby="passwordHelpText"></input>

          <input type="submit" class="btn btn-success mt-2" id="login" value="login"></input>
        </div>
      </form>
      <a id="passwordResetLink" class="mt-3" href=""><small>forgot password? please ask your administrator </small></a>

    </div>
  </div>
{% endblock %}
