{% extends 'base.html' %}

{% block title %}simulation settings{% endblock %}

{% block page %}
  <script src="{{baseurl}}{{ url_for('static', filename='simulation_setup.js')}}"></script>
  <h2>simulation settings</h2>
  <div id="flecsimo_modal_space"></div>
  <div class="row">
    <div class="col-12 col-lg-6 ">
      <div class="form-group">
        <small class="form-text text-muted">select test-setup</small>
        {% if active_setup|length == 0 %}
          <select class="form-select" id="select_simulation_scene" onchange="simulation_scene_dropdown_update()">
          {% for setting in setups %}
            <option value="{{ setting["value"] }}" flecsimo-scene-description="{{ setting["description"] }}">
              {{setting["name"]}}
            </option>
          {% endfor %}
        </select>
        {% else %}
          <select class="form-select disabled" disabled="disabled" id="select_simulation_scene" onchange="simulation_scene_dropdown_update()">
            {% for setting in setups %}
              {% if active_setup == setting["value"] %}
                <option value="{{ setting["value"] }}" flecsimo-scene-description="{{ setting["description"] }}">
                  {{setting["name"]}}
                </option>
              {% endif %}
            {% endfor %}
          </select>
        {% endif %}
        <div id="flecsimo_select_simulation_scene_description" class="form-text"></div>
      </div>
    </div>
    <div class="col-12 mt-1 col-lg-6 mt-lg-0 d-flex align-items-end justify-content-center justify-content-lg-start">
      <div class="form-group">
        <div class="btn-group">
          <input type="submit" id="select_simulation_button" class="btn btn-success" id="login" value="start simulation"
          {% if active_setup|length > 0 %}
            disabled="disabled"
          {% else %}
            onclick="set_simulation_scene()"
          {% endif %}
          ></input>
          {% if active_setup|length == 0 %}
            <input type="submit" class="btn btn-primary disabled" id="login" value="show dashboard" disabled></input>
          {% else %}
            <a href="dashboard" class="btn btn-primary" id="login">show dashboard</a>
          {% endif %}
          <a class="btn btn-danger" onclick="stop_simulation_scene()" id="login">stop simulation</a>
        </div>
        <div class="form-text">&nbsp;</div>
      </div>
    </div>
  </div>
  <div id="select_simulation_modal"></div>
  <table class="table mt-3">
  <thead>
    <tr>
      <th style="width: 40px">Type</th>
      <th scope="col">Module</th>
      <th scope="col">
        Status
        <!-- <b class="badge bg-secondary" onclick="simulation_process_refresh()" style="cursor:pointer;">&#8635;</b> -->
      </th>
      <th scope="col"></th>
    </tr>
  </thead>
  {% if active_setup|length == 0 %}
    <tbody>
      <tr>
        <td colspan="4"><span class="text-muted">no simulation started yet.</span></td>
      </tr>
    </tbody>
  {% else %}
    <tbody>
      {% for unit in units %}
        <tr id="flecsimo_process_table_{{proc|trim('.json')}}">
          <td class="flecsimo_process_table_type">
            {% set conf = units[unit]["config"] %}
            {% if conf["type"] == "cell" %}
              <span class="badge bg-info">Cell</span>
              {% set breadcrumb = conf["site"] ~ " » " ~ conf["area"] ~ " » " %}
              {% set name = conf["station"] %}

            {% elif conf["type"] == "area" %}
              <span class="badge bg-primary">Area</span>
              {% set breadcrumb = conf["site"] ~ " » " %}
              {% set name = conf["area"] %}

            {% elif conf["type"] == "site" %}
              <span class="badge bg-secondary">Site</span>
              {% set breadcrumb = "" %}
              {% set name = conf["site"] %}

            {% else %}
              <span class="badge bg-danger">unknown</span>
              {% set breadcrumb = "" %}
              {% set name = "unknown" %}
            {% endif %}
          </td>
          <td class="flecsimo_process_table_breadcrumb">
            <small class="text-muted">{{ breadcrumb }}</small>
            {{ name }}
          </td>
          <td class="flecsimo_process_table_status">
            {{ units[unit]["status"] }}
          </td>
          <td class="flecsimo_process_table_buttons">
            <div class="btn-group" role="group" aria-label="Optional buttonss">
              <!-- <button type="button" class="btn btn-sm btn-primary disabled" disabled>Steuerung</button>
              <button type="button" class="btn btn-sm btn-danger disabled" onclick="simulation_process_kill('{{unit}}')">kill</button> -->
              <!-- <button type="bfutton" class="btn btn-sm btn-outline-secondary" onclick="simulation_process_get_log('{{unit}}')">show log</button> -->
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  {% endif %}
</table>
{% endblock %}
